 
@media screen and (max-width: 991px){
	.vc_column_container >.vc_column-inner{
		padding-right: 15px !important; 
	    padding-left: 15px !important; 
	}
}
@media (min-width: 768px) and (max-width: 991px){
	.vc_row > .vc_col-sm-6:nth-child(2n + 1){
		clear: left;
	}
}
@media screen and (max-width: 479px){
	.wpb_wrapper > .wpb_text_column{
		padding-right: 0 !important; 
	    padding-left: 0 !important; 
	}
}

@media screen and (min-width:1200px){
    .cms-grid-item{
        &.col-lg-6:nth-child(2n+1){
            clear: left;
        }
        &.col-lg-4:nth-child(3n+1){
            clear: left;
        }
        &.col-lg-3:nth-child(4n+1){
            clear: left;
        }
        &.col-lg-2:nth-child(6n+1){
            clear: left;
        }
    }
}
@media (min-width:992px) and (max-width:1199px){
    .cms-grid-item{
        &.col-md-6:nth-child(2n+1){
            clear: left;
        }
        &.col-md-4:nth-child(3n+1){
            clear: left;
        }
        &.col-md-3:nth-child(4n+1){
            clear: left;
        }
        &.col-md-2:nth-child(6n+1){
            clear: left;
        }
    }
}
@media (min-width:768px) and (max-width:991px){
    .cms-grid-item{
        &.col-sm-6:nth-child(2n+1){
            clear: left;
        }
        &.col-sm-4:nth-child(3n+1){
            clear: left;
        }
        &.col-sm-3:nth-child(4n+1){
            clear: left;
        }
        &.col-sm-2:nth-child(6n+1){
            clear: left;
        }
    }
}